In [1]:
import os
import pandas as pd
import re
import numpy as np

In [2]:
links_df = pd.read_csv("../data/ml-25m/ml-25m/links.csv")

In [3]:
links_df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [4]:
links_df.tail()

       movieId   imdbId    tmdbId
62418   209157  6671244  499546.0
62419   209159   297986   63407.0
62420   209163  6755366  553036.0
62421   209169   249603  162892.0
62422   209171    55323   79513.0

In [5]:
len("0114709")

7

In [6]:
len("6755366")

7

In [7]:
len("297986")

6